<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Toshiba Monitor{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script>
        const API = location.protocol + '//' + location.host;
        const POLL_INT = 30;
    </script>
    {% block global_scripts %}{% endblock %}
    <!-- بارگذاری Sortable قبل از dashboard.js -->
    <script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/legacy-mode.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>